body {
    font-family: 'Papyrus', 'Arial';
}

h1 {
    color: purple;
}

h1, .title-manga, li {
    font-weight: bold;
}

.title-manga {
    font-size: 30px;
}

.descript-manga, .text-accueil-manga, li {
    font-size: 20px;
}

.border-manga {
    border: 1px solid black;
}